html, body {
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
    color: #432000;
    user-select: none;
    background-color: #783037;
}
.container {
    background-color: #240414;
    max-width: 320px;
    margin: 2rem auto;
    border: 2px solid #000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.img{
    margin: 0 auto;
}


input, button { 
    color: #432000;
    background-color: #DCE1EB; 
    margin-top: .4rem;
    padding: .4rem;
    text-align: center;
    border: none;
    border-radius: .2rem;
    font-size: 1.3rem;
}
input:focus{
    outline: none;
}

button { 
    color: #FDFDFD;
    background-color: #AC485A;
    display: block;
    padding: .4rem 5.2rem;
    cursor: pointer;
}
button:hover{
    background-color: #490828;
    /* background-color: #FFFDF8; */
    /* color: #432000; */

}

ul#shopping-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .8rem;   
    font-size: 1.5rem;
    color: #FDFDFD;
}
ul#shopping-list button{
    padding: .3rem;
    margin-left: .3rem;
    font-size: .6rem;
    font-weight: bold;
    text-align: center;
    margin: auto .5rem;
}
ul#shopping-list li {
    color: #432000;
    padding: .8rem .4rem;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    text-align: center;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    
}
ul#shopping-list li:hover{
    background-color: #FFECC7;
} 


@media screen and (max-width: 500px) {
  .container{
    max-width: 280px;
    padding: 1rem;
  }
}
